@media(max-width:991px){

.hero-container,
.contact-wrapper,
.about-grid,
.education-grid{

grid-template-columns:1fr;

}

.hero-left{

text-align:center;

}

.hero-buttons{

justify-content:center;

}

.profile-box{

margin-top:60px;

width:320px;

height:320px;

}

.profile-box img{

width:270px;

height:270px;

}

nav ul{

display:none;

}

.menu-btn{

display:block;

}

}